

<% if comments.any? %>
<hr>
<% end %>
<% comments.each do |comment|%>
  <div class = 'row'>
    <div class = 'span4 well'>

      <div class= 'pull-right'>
        <% if can_vote?(comment) %>
          <%= link_to vote_comment_path(comment, vote: true), method: 'post', remote: true do %>
            <span id = 'vote_up_for_<%= comment.id%>_comment'>
              <i class = 'icon-thumbs-up'></i>
            </span>
          <% end %>
          <%= link_to vote_comment_path(comment, vote: false), method: 'post', remote: true do %>
            <span id = 'vote_down_for_<%= comment.id%>_comment'>
              <i class = 'icon-thumbs-down'></i>
            </span>
          <% end %>
        <% end %>
          <span id = 'vote_<%= comment.id%>_comment' class = "label label-<%= comment.count_vote >= 0 ? "info" : "warning" %>">
            <%= comment.count_vote %> liked
          </span>
      </div>

      <%= comment.body %>
      <br>
      <br>
      <span class = 'quiet'>by:</span> 
      <strong>
        <%= link_to comment.user.username, user_path(comment.user, show_info: 'post') %>
      </strong>
      <br>
      <% if params[:show_info] == 'comment'%>
      <span class = 'quiet'>Comment on:</span> 
      <strong>
        <%= link_to comment.post.title, post_path(comment.post) %>
      </strong>
      <% end %>
   </div>

  </div>
<% end %>