<!-- passing attr: post -->
<div class = 'row'>
    <div class = "span1 well text-center">

      <% if can_vote?(post) %>
        <div id = 'post_<%= post.slug %>_voted_up'> <!-- for Ajox -->
          <%= link_to vote_post_path(post, vote: true), method: 'post',remote: true do %>
            <i class = 'icon-arrow-up'></i>
          <% end %>
        </div>
      <% end %>
      <span id = 'vote_on_<%= post.slug %>_post'><!-- for Ajox -->
        <%= post.count_vote %></span> liked
      <br>

      <% if can_vote?(post) %>
      <div id = 'post_<%= post.slug %>_voted_down'><!-- for Ajox -->  
         <%= link_to vote_post_path(post, vote: false), method: 'post',remote: true do %>
           <i class = 'icon-arrow-down'></i>
         <% end %>
      </div>
      <% end %>

    </div>

    <div class = "span8 well">

      <%= render post.categories %>

      <h4> <%= link_to post.title, fixed_url(post.url) %> </h4>
      <p> <%= post.description %> </p>
      <p>
        <span class = 'quiet' >posted by</span> <strong> <%= post.creator.username %></strong>
        <small>at <%= time_format(post.created_at) %> </small>
      </p>

      <small>
        <span>
          <%= link_to "#{post.comments.size} comments", post_path(post.to_param)%>
        </span>
      </small>

    </div>
</div>



