<!-- Edit link -->
<% if logged_in? and (@post.creator == current_user || current_user.username == 'admin') %>
<div class = 'pull-right'>
  [<%= link_to 'Edit this Post', edit_post_path(@post)%>]
</div>
<% end %>

<p>
  <%= render @post.categories %> <!-- Collection partial -->
</p>

<%= render 'shared/content_title', title: ' &raquo; '.html_safe + @post.title %> <!-- standard partial syntax, this will render the shared/_content_title  -->

<p>
  <%= @post.description %>
</p>

<!-- Show comments -->
<%= render 'posts/comment', comments: @post.comments %>
<!-- Create comment -->
<%= render 'shared/error', obj: @comment %>
<% if logged_in? %>
  <hr>
  <%= form_for [@post, @comment] do |f| %> <!-- remember the [ ], and @post is the exsiting OBJ which the @comment is the new OBJ -->
    <%= f.label :body, 'Create a comment' %>
    <%= f.text_area :body %>
    <br>
    <%= f.submit 'Create Comment', class: 'btn btn-primary' %>
  <% end %>
<% end %>

<hr>






